body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: rgba(17, 52, 79, 1);
}

header {
  background: url('images/placeholder-surf.jpg') center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

nav, h1, h4 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 02.7504912%;

}

nav::after {
  content: "";
  display: table;
  clear: both;

}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.logo-container h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.logo-container h2 > span > span {
  letter-spacing: -0.7px;
}

.logo-container img,
.logo-container h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;

}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

.page-body {
  margin: 0 sauto;
  font-family: 'Open Sans', helvetica, sans-serif;
  height: 1008px;
}


/** left-side-article **/

.left-side-article {
  display: inline-block;
  width: 50%;
  position: relative;
  top: 50px;
  left: 135px;

}

.article-author-pic {
  background: url('images/me-two.jpg');
  background-size: cover;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
}

.article-author-pic::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
  border-radius: 100%
}

.left-side-article h1 {
  font-family: 'oswald', sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  left: 25px;
  letter-spacing: -1px;
  color: rgba(7, 53, 81, 1);
}

#header-line-two {
  bottom: 24px;
  letter-spacing: .2px;
}

.author-link {
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 29px;
  font-size: 13px;
}

.author-link span,
.author-link a {
  position: relative;

}

.author-link span {
  color: rgba(14, 110, 179, 1);
  left: 5px;
  bottom: 4px;
  letter-spacing:

}

.author-link span > span {
  color: rgba(163, 178, 191, 1);
  left: 8.5px;
  bottom: -1px;

}

.author-link a {
  color: rgba(163, 178, 191, 1);
  left: 13.5px;
  bottom: 3px;
}

.left-side-article p {
  position: relative;
  font-size: 15px;
}


.first-p {
  width: 615px;
  line-height: 175%;
  left: 25.5px;
  bottom: 15px;

}

.second-p {
  width: 615px;
  line-height: 175%;
  left: 25.5px;
  bottom: 4px;
}

.second-p a {
  color: rgba(163, 178, 191, 1);
}


.blockquote {
  color: rgba(14, 110, 179, 1);
  position: relative;
  border-left: 2px solid rgba(211, 211, 211, 1);
  height: 56px;
  left: -8px;
  top: -10px;
}

 .blockquote p {
  padding-left: 17px;
  padding-top: 12px;
  height: 30px;
  font-size:27px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.third-p {
  width: 612px;
  line-height: 175%;
  left: 25.5px;
  top: 1px;
}

.fourth-p {
  width: 610px;
  line-height: 175%;
  left: 25.7px;
  bottom: -13px;
}

.bottom-nav {
  position: relative;
  list-style: none;
  margin: 0;
  top: 18px;
  right: 11px;
}

.bottom-nav .button-background {
  position: relative;
  background-color: rgba(93, 104, 111, 1);
  height: 30px;
  width: 33px;
  right: 13px;

}

.bottom-nav .button-caption {
  font-size: 13px;

}

.bottom-nav li {
  display: inline-block;
}


.bottom-nav i {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-nav button {
  border: none;
  color: white;
  padding: 0;
  height: 30px;
  width: 158px;
}





/** side-bar **/

.side-bar {
  display: inline-block;
  width: 28%;
  position: relative;
  left: 206px;
  bottom: 160px;
  height: 650px;
}

.side-bar-author-pic {
  background: url('images/me-two.jpg');
  background-size: cover;
  height: 84px;
  width: 84px;
  border-radius: 100%;
  position: relative;
  left: 98px;
}

.side-bar-author-pic::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
  border-radius: 100%
}

.ad-photo {
  background: url('images/ad-photo.jpg');
  background-size: cover;
  height: 300px;
  width: 278px;
  position: relative;
}

.ad-photo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}
